$indicator--orange: #ff9f58;
$indicator--light: #ffeedf;
$indicator--yellow: #fcffcb;
$low-beam: #f5ffe2;
$high-beam--bright: #effbfe;
$high-beam--blue: #b4d7f3;
$position-stop: #ff4242;
$interior: #2756ff;
$light-gray: #eee;
$dark-gray: #222;
$gray: #434343;
$soft-gray: #bbb;
$white: #fff;

$light-dims: 19px;
