.front-view {
  &__wrapper {
    position: relative;
    height: 8.14rem;
  }

  &__low-beam {
    border-radius: 2px;
    height: $light-dims;
    width: $light-dims;
    // background-image: url("images/lamp_sprite_v3.png");
    background-position: -19px 0;

    &-container {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 3.85rem;
      left: 1.84rem;
      width: 7.2rem;
      height: 19px;
      z-index: 5;
    }
  }

  &__high-beam {
    height: $light-dims;
    width: $light-dims;
    border-radius: 50%;
    z-index: 15;
    background-position: 0 0;

    &-container {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      height: calc(($light-dims) + 1.2rem);
      width: calc(($light-dims) + 1.2rem);
      transform: rotate(45deg);
      border-radius: 1px;
      z-index: 10;
      overflow: hidden;
      background-image: url("images/high-beam_lamp_support_38x38.png");
      background-position: 0 0;
      ba &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -1px;
        right: -1px;
        width: calc(50% + 1px);
        height: calc(50% + 1px);
        box-shadow: 0 0 0 10rem $gray;
      }

      &--left {
        top: 4.1rem;
        left: 2.44rem;
      }

      &--right {
        top: 4.1rem;
        right: 2.44rem;
      }
    }
  }

  &__indicator {
    width: $light-dims;
    z-index: 5;
    background-position: 25px 0;
    // box-shadow: 0 0 30px 10px $low-beam, 0 0 20px 20px $indicator;
    &--left {
      transform: scaleX(-1);
    }

    &-container {
      position: absolute;
      display: flex;
      justify-content: space-between;
      bottom: 1.9rem;
      left: calc((50% - (7.1rem / 2)) - 1px);
      height: 11px;
      width: 7.2rem;
    }
  }

  &__interior {
    position: absolute;
    left: calc(50% - ($light-dims / 2));
    top: -(calc($light-dims / 2));
    height: calc($light-dims / 2);
    width: $light-dims;

    &-container {
      position: absolute;
      left: 2.15rem;
      top: 1.6rem;
      height: 1.3rem;
      width: 6.5rem;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        left: 1.1rem;
        bottom: -0.1px;
        display: block;
        height: 0.25rem;
        width: 0.7rem;
        background-color: $light-gray;
        box-shadow: 1.2rem 0 0 0 $light-gray, 2.4rem 0 0 0 $light-gray,
          3.6rem 0 0 0 $light-gray;
      }
    }
  }
}
