.views {
  background-color: #161616;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  & .image {
    height: 130px;
  }
  & .side-view__image {
    height: 110px;
  }
  & .view {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 180px;
  }
}
