.rear-view {
  &__wrapper {
    position: relative;
  }

  &__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 3.35rem;
    left: 1.84rem;
    width: 7.2rem;
    height: 18px;
  }

  &__lamps {
    display: flex;
    &--right {
      flex-direction: row-reverse;
    }
  }

  &__indicator {
    width: 7px;

    &--left,
    &--right {
      background-position: 85px;
    }

    &--left {
      transform: scaleX(-1);
    }
  }

  &__position-stop {
    width: 7px;

    &--left,
    &--right {
      background-position: 78px;
      &--stop-on {
        background-position: 71px;
      }
    }

    &--right,
    &--right--stop-on {
      transform: scaleX(-1);
    }
  }
}
