.rear-view {
  &__wrapper {
    position: relative;
  }

  &__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 3.35rem;
    left: 1.84rem;
    width: 7.2rem;
    height: 18px;
  }

  &__lamps {
    display: flex;
    &--right {
      flex-direction: row-reverse;
    }
  }

  &__indicator {
    width: 7px;
    box-shadow: 0 0 14px 4px $indicator--orange,
      inset 0 0 2px 0px $indicator--orange;
    z-index: 5;
    &::after {
      content: "";
      position: absolute;
      height: 5px;
      width: 7px;
      box-shadow: -2px -12px 7px 1px $indicator--orange;
    }

    &--left,
    &--right {
      background-position: 85px;
    }

    &--left {
      transform: scaleX(-1);
    }
  }

  &__position-stop {
    width: 7px;
    box-shadow: 0 0 9px 2px darken($position-stop, 30);
    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 5px;
      box-shadow: 0px -15px 12px 1px darken($position-stop, 30);
    }

    &--left,
    &--right {
      background-position: 78px;
    }

    &--right,
    &--right {
      transform: scaleX(-1);
    }
  }
  .stop-on {
    background-position: 71px;
    box-shadow: 0 0 14px 4px $position-stop;
    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 5px;
      box-shadow: 0px -15px 13px 3px $position-stop;
    }
  }
}
