@mixin rearLampPositions {
  bottom: 53px;
  height: 15px;
  position: absolute;
  right: 12px;
  width: 4px;
}

.side-view {
  &__wrapper {
    position: relative;
  }
  &__interior {
    box-shadow: 0 0 15px 4px $interior;
    left: 193px;
    position: absolute;
    top: 14px;
    z-index: -10;
  }
  &__position-stop {
    @include rearLampPositions();
    background-position: 64px 0px;
    box-shadow: 1px 0 13px 3px darken($position-stop, 20);
    z-index: 5;
  }
  .stop-on {
    background-position: 56px 0px;
    box-shadow: 1px 0 13px 3px darken($position-stop, 5);
    z-index: 7;
  }
  &__indicator {
    position: absolute;
    &--front {
      bottom: 26px;
      box-shadow: 2px -1px 8px 5px $indicator--orange,
        -4px -7px 8px 2px $indicator--orange,
        1px -24px 5px -1px $indicator--orange;
      height: 5px;
      left: 17px;
      transition: 0.1s linear;
      width: 5px;
      z-index: 10;
    }
    &--rear {
      @include rearLampPositions();
      background-position: 60px 0px;
      box-shadow: 1px 0px 10px 3px $indicator--orange,
        2px 0px 4px 0px $indicator--light,
        inset 7px 4px 26px -15px $indicator--orange;
      transition: 0.1s linear;
      z-index: 10;
    }
  }

  &__front-panel {
    background-image: url("images/side_view_cover_panel.png");
    height: 47px;
    left: 0px;
    position: absolute;
    top: 56px;
    width: 50px;
    z-index: 15;
  }

  &__low-beam {
    background-position: 46px 0px;
    box-shadow: -2px 0px 8px 3px $low-beam;
    height: 15px;
    left: 23px;
    position: absolute;
    top: 53px;
    transition: 0.1s ease-out;
    width: 6px;
    z-index: 15;
    &::after {
      content: "";
      box-shadow: -10px 0 9px 1px $low-beam, -17px 3px 14px 3px $low-beam,
        -23px 4px 30px 3px $low-beam, -51px 6px 40px 2px $low-beam;
      display: block;
      height: 20px;
      width: 20px;
    }
  }
  &__high-beam {
    background-position: 52px 0px;
    box-shadow: -2px 0px 8px 3px $high-beam--blue;
    height: 15px;
    position: absolute;
    transition: 0.05s ease-out;
    width: 6px;
    &::after {
      content: "";
      box-shadow: -7px 0 10px 1px $high-beam--bright,
        -16px 0 16px 3px $high-beam--bright,
        -18px 3px 20px 4px $high-beam--bright,
        -47px 1px 31px 3px $high-beam--bright,
        -37px 1px 30px 3px $high-beam--bright,
        -31px 1px 38px 7px $high-beam--blue, -46px 1px 36px 5px $high-beam--blue;
      display: block;
      height: 15px;
      width: 10px;
    }
    &-container {
      height: 27px;
      left: 4px;
      position: absolute;
      top: 52px;
      width: 6px;
      z-index: 5;
    }
    &--lower {
      top: 13px;
    }
  }
}
