@mixin rearLampPositions {
  position: absolute;
  width: 4px;
  height: 15px;
  bottom: 53px;
  right: 12px;
}

.side-view {
  &__wrapper {
    position: relative;
  }
  &__position-stop {
    @include rearLampPositions();
    background-position: 64px 0px;
    z-index: 5;
    &--stop-on {
      background-position: 56px 0px;
      z-index: 7;
    }
  }
  &__indicator {
    position: absolute;
    &--front {
      width: 5px;
      height: 5px;
      bottom: 26px;
      left: 17px;
    }
    &--rear {
      @include rearLampPositions();
      background-position: 60px 0px;
      z-index: 10;
    }
  }

  &__front-panel {
    position: absolute;
    background-image: url("images/side_view_cover_panel.png");
    width: 50px;
    height: 47px;
    top: 56px;
    left: 0px;
    z-index: 15;
  }

  &__low-beam {
    position: absolute;
    width: 6px;
    height: 15px;
    top: 53px;
    left: 23px;
    background-position: 46px 0px;
  }
  &__high-beam-container {
    position: absolute;
    width: 6px;
    height: 27px;
    top: 52px;
    left: 4px;
  }
  &__high-beam {
    position: absolute;
    width: 6px;
    height: 15px;
    background-position: 52px 0px;

    &--lower {
      top: 13px;
    }
  }
}
