.control-panel
    h1.app-title Audi light control panel
    .control-panel__buttons
        button.left-indicator.control-button(data-btn='left-ind') left
        button.right-indicator.control-button(data-btn='right-ind') right
        button.low-beam-headlight.control-button(data-btn='low-beam') low-beam
        button.high-beam-headlight.control-button(data-btn='high-beam') high-beam
        button.stop-light.control-button(data-btn='stop') stop light
        button.emergency.control-button(data-btn='emergency') emergency
        button.interior.control-button(data-btn='int') interior