section.front-view.view
    .front-view__wrapper.lights-wrapper
        img.front-view__image.image(src='../src/images/Audi s1 quattro front.png' alt='Audi s1 front view')
        .front-view__low-beam-container
            .front-view__low-beam.front-view__low-beam--right.low-beam
            .front-view__low-beam.front-view__low-beam--left.low-beam
        .front-view__high-beam-container.front-view__high-beam-container--left
            .front-view__high-beam.front-view__high-beam--upper.high-beam
            .front-view__high-beam.front-view__high-beam--lower-left.high-beam
            .front-view__high-beam.front-view__high-beam--lower-right.high-beam
        .front-view__high-beam-container.front-view__high-beam-container--right
            .front-view__high-beam.front-view__high-beam--upper.high-beam
            .front-view__high-beam.front-view__high-beam--lower-left.high-beam
            .front-view__high-beam.front-view__high-beam--lower-right.high-beam
        .front-view__indicator-container
            .front-view__indicator.front-view__indicator--left.indicator
            .front-view__indicator.front-view__indicator--right.indicator
        .front-view__interior-container
            .front-view__interior.interior


        