section.rear-view.view
    img.rear-view__image.image(src='../src/images/Audi s1 quattro rear.png' alt='Audi s1 rear view')
    .rear-view__wrapper.lights-wrapper
    .rear-view__indicator.rear_view__indicator--left.indicator
    .rear-view__indicator.rear_view__indicator--right.indicator
    .rear-view__position-stop.rear-view__position-stop--left.position-stop
    .rear-view__position-stop.rear-view__position-stop--right.position-stop