section.rear-view.view
    .rear-view__wrapper.lights-wrapper
        img.rear-view__image.image(src='../src/images/Audi_rear_174x130.png' alt='Audi s1 rear view')
        .rear-view__container
            .rear-view__lamps.rear-view__lamps--left
                .rear-view__indicator.rear-view__indicator--left.indicator
                .rear-view__position-stop.rear-view__position-stop--left--stop-on.position-stop
            .rear-view__lamps.rear-view__lamps--right
                .rear-view__indicator.rear-view__indicator--right.indicator
                .rear-view__position-stop.rear-view__position-stop--right--stop-on.position-stop
