section.side-view.view
    img.side-view__image.image(src='../src/images/Audi s1 quattro left small.png' alt='Audi s1 side view')
    .side-view__wrapper.lights-wrapper
    .side-view__indicator.side-view__indicator--front.indicator
    .side-view__indicator.side-view__indicator--rear.indicator
    .side-view__low-beam.low-beam
    .side-view__high-beam-container
        .side-view__high-beam.side-view__high-beam--upper.high-beam
        .side-view__high-beam.side-view__high-beam--middle.high-beam
        .side-view__high-beam.side-view__high-beam--lower.high-beam
    .side-view__position-stop.position-stop