section.side-view.view
    .side-view__wrapper.lights-wrapper
        img.side-view__image.image(src='../src/images/Audi_side_325x110.png' alt='Audi s1 side view')
        .side-view__interior.interior
        .side-view__position-stop.position-stop
        .side-view__indicator.side-view__indicator--rear.indicator
        .side-view__front-panel
        .side-view__indicator.side-view__indicator--front.indicator
        .side-view__low-beam.low-beam
        .side-view__high-beam-container 
            .side-view__high-beam.side-view__high-beam--upper.high-beam
            .side-view__high-beam.side-view__high-beam--lower.high-beam