section.top-view.view
    .top-view__wrapper.lights-wrapper
        img.top-view__image.image(src='../src/images/Audi_top_288x130.png' alt='Audi s1 top view')
        .top-view__indicator.top-view__indicator--front-left.indicator
        .top-view__indicator.top-view__indicator--front-right.indicator
        .top-view__indicator.top-view__indicator--rear-left.indicator
        .top-view__indicator.top-view__indicator--rear-right.indicator
        .top_view__low-beam.top-view__low-beam--left.low-beam
        .top_view__low-beam.top-view__low-beam--right.low-beam
        .top_view__high-beam-container.top-view__high-beam-container--left
            .top_view__high-beam.top-view__high-beam--left.high-beam
            .top_view__high-beam.top-view__high-beam--right.high-beam
            .top_view__high-beam.top-view__high-beam--middle.high-beam
        .top_view__high-beam-container.top-view__high-beam-container--right
            .top_view__high-beam.top-view__high-beam--left.high-beam
            .top_view__high-beam.top-view__high-beam--right.high-beam
            .top_view__high-beam.top-view__high-beam--middle.high-beam
        .top-view__position-stop.top-view__position-stop--left.position-stop
        .top-view__position-stop.top-view__position-stop--right.position-stop